{% extends "base.html.twig" %}

{% block page_title %}The Feed{% endblock %}

{% block page_content %}
    <main id="the-feed-main">
        <div id="feed">
            {% if idConnecte is not null %}
            <form id="feedy-new" action="{{ route("submitFeedy") }}" method="post">
                <fieldset>
                    <legend>Nouveau feedy</legend>
                    <div>
                           <textarea required id="message" minlength="1" maxlength="250" name="message"
                                     placeholder="Qu'avez-vous en tête?"></textarea>
                    </div>
                    <div>
                        <input id="feedy-new-submit" type="submit" value="Feeder!">
                    </div>
                </fieldset>
            </form>
            {%  endif %}
            {% for publication in publications %}
            <div class="feedy">
                <div class="feedy-header">
                    <a href="{{ route("pagePerso",{'idUser': publication.getAuteur().getIdUtilisateur()})}}">
                        <img class="avatar"
                             src="{{ asset("./assets/img/utilisateurs/"~publication.getAuteur().getProfilePictureName()) }}"
                             alt="avatar de l'utilisateur">
                    </a>
                    <div class="feedy-info">
                        <span>{{ publication.getAuteur().getLogin() }}</span>
                        <span> - </span>
                        <span>{{ publication.getDate()|date('d F Y')  }}</span>
                        <p>{{ publication.getmessage() }}</p>
                    </div>
                </div>
            </div>
            {% else %}
            <p id="no-publications" class="center">Pas de publications pour le moment!</p>
            {% endfor %}
        </div>
    </main>
{% endblock %}